@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
body {
    background: black;
    margin: 0;
    display: flex;
    font-family: 'DM Sans';
}

.left {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
  padding: 40px;
}

h1 {
  background: linear-gradient(90deg, #35d5fd 0%, #e355ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  font-size: 90px;
}

h2 {
  color: white;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  padding-left: 5px;
}

.right {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
}

a {
  color: white;
  text-align: right;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0;
  padding: auto;
  font-size: 40px;
  text-decoration: none;
  display: block;
}

a:hover {
  background: linear-gradient(180deg, #35d5fd 0%, #e355ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}