@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-size: 80px;
    color: white;
    margin: 0;
}

.gedanke {
    background-color: #340041;
    display: block;
    min-height: 100vh;
    position: relative;
}

.gedanke p {
    margin: 0;
}

.tuusiggedanke {
    color: white;
    position: absolute;
    font-size: 30px;
    z-index: 1;
    text-rendering: geometricPrecision;
    font-variation-settings: "wght" 200, "wdth" 50;
    animation-name: stretch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.tuusiggedanke.two {
    animation-delay: 1s;
}

.tuusiggedanke.three {
    animation-delay: 2s;
}

@keyframes stretch {
    10% {
        font-variation-settings: "wght" 200, "wdth" 50;
    }
    100% {
        font-variation-settings: "wght" 800, "wdth" 50;
    }
}

#tuusigwrapper {
    position: relative;
}

#tuusigwrapper h1 {
    font-size: 700px;
    text-align: center;
    color: #340041;
    margin: 0;
    z-index: 3;
    line-height: 700px;
    position: relative;
    font-family: 'Manrope', sans-serif;
    text-rendering: geometricPrecision;
    font-variation-settings: "wght" 200, "wdth" 50;
    animation-name: stretch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tuusigwrapper h2 {
    font-size: 350px;
    text-align: center;
    color: #340041;
    margin: 0;
    z-index: 3;
    line-height: 250px;
    position: relative;
    font-family: 'Manrope', sans-serif;
    text-rendering: geometricPrecision;
    font-variation-settings: "wght" 200, "wdth" 50;
    animation-name: stretch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}

.chopf {
    display: block;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(0deg, #000, #340041);
}

.chopf p {
    margin: 0;
}

#chopf-sketch .chopf {
    stroke-width: 3;
    fill: none;
}

.animated-chopf {
    stroke: white;
    stroke-dasharray: 41786.625;
    stroke-dashoffset: 41786.625;
    animation-name: draw-chopf;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes draw-chopf {
    to {
        stroke-dashoffset: 0;
    }
}

.schlaflos {
    display: block;
    min-height: 100vh;
    position: relative;
    background: #000;
}

.schlaflos p {
    margin: 0;
}

.stargroup1 {
    opacity: 0;
}
.stargroup2 {
    opacity: 0;
}
.stargroup3 {
    opacity: 0;
}
.stargroup4 {
    opacity: 0;
}
.stargroup5 {
    opacity: 0;
}
.stargroup6 {
    opacity: 0;
}

.animated-stars .stargroup1 {
    animation-name: draw-stars1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes draw-stars1 {
    to {
        opacity: 1;
    }
}

.animated-stars .stargroup2 {
    animation-name: draw-stars2;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes draw-stars2 {
    to {
        opacity: 1;
    }
}

.animated-stars .stargroup3 {
    animation-name: draw-stars3;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes draw-stars3 {
    to {
        opacity: 1;
    }
}

.animated-stars .stargroup4 {
    animation-name: draw-stars4;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes draw-stars4 {
    to {
        opacity: 1;
    }
}

.animated-stars .stargroup5 {
    animation-name: draw-stars5;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes draw-stars5 {
    to {
        opacity: 1;
    }
}

.animated-stars .stargroup6 {
    animation-name: draw-stars6;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes draw-stars6 {
    to {
        opacity: 1;
    }
}

.display {
    display: block;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(0deg, #070E4B, #000);
}

.display p {
    margin: 0;
}

.trouble {
    display: block;
    min-height: 100vh;
    position: relative;
    background: #070E4B;
}

#trouble-sketch .trouble {
    stroke-width: 3;
    fill: none;
}

.animated-trouble {
    stroke: white;
    stroke-dasharray: 41786.625;
    stroke-dashoffset: 41786.625;
    animation-name: draw-trouble;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes draw-trouble {
    to {
        stroke-dashoffset: 0;
    }
}

.time {
    display: block;
    min-height: 100vh;
    position: relative;
    background: #070E4B;
}

.time h1 {
    margin: 0;
    font-size: 1468px;
    line-height: 1200px;
}

.time h2 {
    margin: 0;
    font-size: 1468px;
    line-height: 1200px;
}

  