body {
    font-family: Bebas Neue Pro;
    font-size: 80px;
    color: white;
    margin: 0;
}

.gedanke {
    background-color: #340041;
    display: block;
    min-height: 100vh;
    position: relative;
}

.gedanke p {
    margin: 0;
}

.tuusiggedanke {
    color: white;
    position: absolute;
    font-size: 30px;
    z-index: 1;
}

#tuusigwrapper {
    position: relative;
}

#tuusigwrapper h1 {
    font-size: 600px;
    text-align: center;
    color: #340041;
    margin: 0;
    z-index: 3;
    line-height: 600px;
    position: relative;

}

#tuusigwrapper h2 {
    font-size: 315px;
    text-align: center;
    color: #340041;
    margin: 0;
    z-index: 3;
    line-height: 315px;
    position: relative;
}

.chopf {
    display: block;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(0deg, #000, #340041);
}

.chopf p {
    margin: 0;
}

.schlaflos {
    display: block;
    min-height: 100vh;
    position: relative;
    background: #000;
}

.schlaflos p {
    margin: 0;
}

.display {
    display: block;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(0deg, #070E4B, #000);
}

.display p {
    margin: 0;
}

.time {
    display: block;
    min-height: 100vh;
    position: relative;
    background: #070E4B;
}

.time h1 {
    margin: 0;
    font-size: 1468px;
    line-height: 1200px;
}

.time h2 {
    margin: 0;
    font-size: 1468px;
    line-height: 1200px;
}


svg .chopf {
    stroke-width: 3;
    stroke: white;
    fill: none;
    stroke-dasharray: 41786.625;
    stroke-dashoffset: 41786.625;
    animation-name: draw;
      animation-duration: 20s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
  }

  svg .trouble {
    stroke-width: 3;
    stroke: white;
    fill: none;
    stroke-dasharray: 41786.625;
    stroke-dashoffset: 41786.625;
    animation-name: draw;
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  